<div style="background-color: whitesmoke; height: 100%; width: 100%">
	<div
		style="margin-left: 40px; padding-top: 40px"
		class="common__font"
	>
		<div>
			<div style="font-size: 28px">Food</div>
			<div>
				<a
					style="display: block; color: inherit"
					href="/auth/admin/add/food.html"
					class="siderbar__menu_btn"
					>Add food</a
				>
			</div>
			<div>
				<a
					style="display: block; color: inherit"
					class="siderbar__menu_btn"
					href="/auth/admin/list/food.html"
					>List food</a
				>
			</div>
		</div>
		<div>
			<div style="font-size: 28px">Grocery</div>
			<div>
				<a
					style="display: block; color: inherit"
					class="siderbar__menu_btn"
					href="/auth/admin/add/grocery.html"
					>Add grocery</a
				>
			</div>
			<div>
				<a
					style="display: block; color: inherit"
					class="siderbar__menu_btn"
					href="/auth/admin/list/grocery.html"
					>List grocery</a
				>
			</div>
		</div>
	</div>
</div>
